{% autoescape off %}
Hello,

We received a request to reset the password for your account at ft_transcendence. If you didn't make this request, you can safely ignore this email.

To reset your password, please visit the following page:

{{ protocol }}://{{ domain }}/#/pass-reset-confirm/uidb64={{ uid }}&token={{ token }}

Your username: {{ user.get_username }}

This link will expire in 24 hours for security reasons.

If you have any questions, please contact our support team.

Best regards,
The 42's ft_transcendence Team

-------------------------------------------
This is an automated message, please do not reply to this email.
{% endautoescape %}

