{% load i18n %}
<div id="pass-reset" class="standard-view">
	<form id="pass-reset-form" method="post" class="auth-form", >
			
		<h2 class="pwreset-label-text">{% trans "Reset Password" %}</h2>

		<div class="form-group">
			<input type="email" name="email" id="id_email" placeholder="Email" required>
		</div>

		<button type="submit">{% trans "Send Reset Link" %}</button>

		<div id="form-errors" class="error-messages"></div>

		<a href="/#/login" class="auth-link">{% trans "Back to Login" %}</a>

	</form>

	<div class="pwreset-label-text" id="pass-reset-done" hidden="true" >
		<div class="auth-form">
		<h2> {% trans "Email Sent" %}</h2>

		<p>{% trans "We've emailed you instructions for setting your password." %}</p>
		<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with." %}</p>

		<a href="/#/login" class="auth-link">{% trans "Back to Login" %}</a>
		</div>
	</div>
</div>
