.vscode

data/db

data/web/backend/migrations
data/web/pong/migrations
data/web/authservice/migrations

data/web/runtime/__pycache__

data/web/backend/__pycache__
data/web/pong/__pycache__
data/web/authservice/__pycache__

data/web/db.sqlite3



