.pong-menu {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	padding: 15px;
	width: 200px;
	background-color: rgba(255, 255, 255, 0.1);
	/* backdrop-filter: blur(8px); */
	border-radius: 12px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.pong-menu-button {
	width: 100%;
	color: rgb(157, 148, 148);
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	border: none;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.pong-menu-button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.pong-menu-button.hidden {
	display: none;
}


.lobby-status {
    color: rgb(157, 148, 148);
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.game-container {
    position: relative;
    margin: 0 auto;
}
/*  */

#score-board {
    position: relative;
    color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Adjust padding to reduce space */
}

.scoreboard-container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px; /* Adjust padding to reduce space */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.player-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    text-align: center;
}

#player1-info, #player2-info {
    flex: 1;
}

.player-name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #fff;
    margin: 5px 0; /* Adjust margin to reduce space */
    padding: 10px; /* Adjust padding to reduce space */
}

.player-sets, .player-points {
    display: flex;
    justify-content: center;
}

.set-indicator, .point-indicator {
    width: 10px;
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.set-indicator.won {
    background-color: gold; /* Set color to gold for won sets */
}

.point-indicator.won.left {
    background-color: #0000ff; /* Set color to blue for left player */
}

.point-indicator.won.right {
    background-color: #ff0000; /* Set color to red for right player */
}

.winner-text {
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	color: gold;
	text-align: center;
	margin: 10px 0;
}

.separator {
    color: #fff;
    margin: 0 20px;
}