/* nav menus */

.nav-menu {
	position: fixed; 
	top: 20px;
	left: 2.5%;
	cursor: pointer;
}

.login-menu {
	position: fixed; 
	top: 20px;
	right: 2.5%;
	cursor: pointer;
}

#menu-notification-badge {
	position: fixed; 
	top: 45px;
	right:2.3%;
	z-index: 1001;
}

.menu-button {
	position: fixed;
	width: 35px;
	height: 35px;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(8px);
	border-radius: 18px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	transition: all 0.3s ease;
	/* overflow: hidden; */
	z-index: 1000;
}

.menu-button.expanded {
	width: 150px;
	height: auto;
	cursor: default;
	flex-direction: column;
	align-items: center;

}

.menu-buttons {
	display: none;
	flex-direction: column;
	gap: 8px;
	padding: 8px;
}

.menu-button.expanded .menu-buttons {
	display: flex;
}

#user-icon {
    object-fit: cover;
	overflow: hidden;
}

.menu-button .menu-icon {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 2px;
	margin-left: 2px; */
	overflow: visible;
}

.menu-button.expanded .menu-icon {
	margin: 0 auto;
	margin-top: 15px;
	width: 40px;
	height: 40px;
}

.menu-button .nav-button {
	color: rgb(157, 148, 148);
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.1);
	text-align: center;
	cursor: pointer;

	border-width: 2px;
    transition: all 0.2s ease;
	border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;

}

.menu-button .nav-button:hover {
	background-color: rgba(255, 255, 255, 0.2);

    transform: translateY(-5px);
    box-shadow: 0 0 5px #878080;
    /* background-color: rgba(230, 233, 236, 0.427); */
}

.menu-user {
	color: rgb(157, 148, 148);
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	cursor: default;
}

.nav-menu-separator {
	padding: 14px;
	text-align: center;
	cursor: default;
}

.alert-info {
    --bs-alert-color: aliceblue;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* login view / card */

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 400px;
	width: 100%;
	padding: 2rem;
	background: rgba(0, 0, 0, 0.5); 
	backdrop-filter: blur(8px);
	border-radius: 12px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); 
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.form-group {
	display: flex;
	flex-direction: column;
}

.auth-form input {
	padding: 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.05);
	color: white;		
}

.auth-form button,
.login-button {
	padding: 0.5rem;
	background: rgba(0, 0, 0, 0.5); 
	backdrop-filter: blur(8px);
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); 
	color: white;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.auth-form button:hover,
.login-button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.button-logo {
	width: 20px;
	height: 20px;
}

.error-messages {
	color: #ff6b6b;
	margin-top: 1rem;
}

.auth-link {
	color: rgb(157, 148, 148);
	text-decoration: none;
	margin-top: 1rem;
	text-align: center;
}

.auth-link:hover {
	text-decoration: underline;
}

/* tournament */

#tournament-container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 800px;
	width: 100%;
	padding: 2rem;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(8px);
	border-radius: 12px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.tournament-item.active,
.tournament-item.selected {
	background-color: rgba(255, 255, 255, 0.2) !important;
	border-left: 3px solid #a4a8ae !important;
	font-weight: 500;
}

.tournament-join-btn {
	display: block;
	width: 150px !important;

}

.tournament-join-btn:hover {
	background-color: rgba(255, 255, 255, 0.2) !important;
	color: white !important;
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.3) !important;
}

.tournament-back-button {
	display: block;
	margin: 2rem auto;
}

.match-players {
	color: #e0e0e0; 
	font-weight: 500;
}

/* profile */

.profile-pic {
	width: 200px; 
	height: 200px; 
	border: 5px solid #a19a9aa3; 
	border-radius: 50%; 
	box-shadow: 0 0 10px rgba(77, 76, 76, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;	
}

.profile-pic img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
}

.nav-item {
	padding-bottom: 20px;
}

#profile-top-container {
	padding: 20px;
}

.profile-info h2 {
	color: #ffffff;
	padding-top: 10px; 
	padding-bottom: 10px;
}

.profile-info p {
	color: #ffffff;
}

.text-center {
	color: transparent;
}

.nav-tabs .nav-link {
	color: rgb(157, 148, 148); 
	background-color: rgba(255, 255, 255, 0.1); 
	border: 1px solid rgba(255, 255, 255, 0.2); 
	border-radius: 8px; 
	margin-right: 5px;
	margin-left: 5px; 
	transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-tabs .nav-link.active {
	color: #ffffff; 
	background-color: rgba(255, 255, 255, 0.2); 
	border-color: rgba(255, 255, 255, 0.3); 
}

.tab-content {
	background-color: rgba(255, 255, 255, 0.1); 
	border: 1px solid rgba(255, 255, 255, 0.2); 
	border-radius: 12px;
	color: #ffffff; 
}

.btn {
	color: rgb(157, 148, 148); 
	background-color: rgba(255, 255, 255, 0.1); 
	border: 1px solid rgba(255, 255, 255, 0.2); 
	border-radius: 12px; 
}

.card {
    --bs-card-border-color: none;
    --bs-card-cap-bg: none;
    --bs-card-bg: none;
    color: none;
}

.table-light {
    background-color: transparent !important; 
    color: #ffffff !important; 
    border-color: #1a1a1a !important; 
}


.table-light th {
    background-color: transparent !important; 
    color: #ffffff !important; 
    border-bottom: 1px solid #1a1a1a !important; 
    box-shadow: none !important; 
}

.table-primary {
    background-image: linear-gradient(20deg, #2b80ffc2 0%, #f03633aa 100%) !important;
    background-color: transparent !important;
    --bs-table-bg: transparent;
    border-color: #1a1a1a;
}

#match-history-container .table-danger {
    background-image: linear-gradient(20deg, #f03633aa 0%, #2b80ffc2 100%) !important;
    background-color: transparent !important;
    --bs-table-bg: transparent;
    border-color: #1a1a1a;
}

#match-history-container .table {
	border-radius: 5px !important;
	overflow: hidden;
	border: 1px solid rgba(255, 255, 255, 0.2) !important; 
}

#match-history-container .table-responsive {
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

#match-history-container .no-match-history {
	background-color: #76767633 !important;
	border-color: rgb(130 130 130 / 9%) !important;
	border-radius: 5px !important;
	padding: 0.5rem 1rem !important;
	color: #b0cce8 !important;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, 0.2) !important;
	overflow: hidden;
}

.tournament-label-text, .pwreset-label-text {
    color: #649baf;
}

#friend-image-container {
	width: 40px;
	height: 40px; 
	overflow: hidden; 
	border-radius: 50%; 
	position: relative;
}

#friend-image {
    top: 0;
    left: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* Friends Tab Specific Styling */

#friends .list-group-item {
    background-color: #76767633;
    border-color: rgb(130 130 130 / 9%) !important;
    border-radius: 5px !important;
	color: #b0cce8;
}

#friends .list-group-item a {
    color: #d6cdcd;
}

#friends .list-group-item-action:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

#friends .card-header.bg-light {
    background-color: #1a1a1a !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

#friends .list-group-flush > .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
    border-color: rgba(255, 255, 255, 0.1);
}

#friends .badge {
    font-size: 0.8rem;
    padding: 0.4em 0.8em;
}

#friends .btn-success {
    background-color: rgba(25, 207, 68, 0.595);
    border-color: rgba(255, 255, 255, 0.1);
	color: #e0e0e0;
}

#friends .btn-danger {
    background-color:  rgba(221, 26, 45, 0.595);
    border-color: rgba(255, 255, 255, 0.1);
	color: #e0e0e0;
}

#friends .btn-outline-secondary {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.2);
}

#friends .btn:hover {
	border-color: #e0e0e0;
    transition: all 0.2s ease;
}


#friend-search-container {
	margin-bottom: 0  !important;
}

#friend-search-dropdown {
    top: 2rem;
    z-index: 1000;
	border: #343a40 !important;
}

#friend-search-item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}

/* account tab specific styling */

#account-delete-container {
	padding-top: 1rem;
}

/*  dynamic language styling  */

.language-menu {
    position: fixed;
    bottom: 10px; 
    right: 10px;
    /* background-color: black; */
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex; 
    gap: 10px; 
}

.language-menu__link {
    text-decoration: none;
    color: white; 
    padding: 5px 10px; 
    border-radius: 8px; 
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(8px); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);  */
    transition: all 0.3s ease; 
    font-size: 14px; 
}

.language-menu__link:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    transform: translateY(-2px); 
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3); 
    text-decoration: none; 
}

.custom-heading {
    margin-bottom: 1.5rem; /* Equivalent to mb-4 */
    font-size: 2rem;
    font-weight: bold;
    color: white /* Adjust color as needed */
}

/* Custom class for paragraphs */
.custom-paragraph {
    margin-bottom: 1rem; /* Equivalent to mb-3 */
    font-size: 1rem;
    color: white; /* Adjust color as needed */
    line-height: 1.5;
}