<div id="login-view" class="standard-view">
	<form id="login-form" class="auth-form">
		<div class="form-group">
			<input type="text" id="username" name="username" placeholder="Username" required>
		</div>
		<div class="form-group">
			<input type="password" id="password" name="password" placeholder="Password" required>
		</div>
		<button type="submit">Login</button>
		<button type="button" id="login_42" class="login-button">
			<img src="/static/images/42-logo.png" alt="42 Logo" class="button-logo">
			Log in with 42 account
		</button>
		<div id="form-errors" class="error-messages"></div>
		<a href="#/register" class="auth-link">Don't have an account? Register</a>
	</form>
</div>